@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1c1c;
}

.loader {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
