@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border-input {
  border: none;
  border-bottom: 1px solid #333; /* Set bottom border */
  outline: none; /* Remove default focus outline */
}

.custom-border-input:focus {
  border-bottom-color: #108a5b; /* Change bottom border color on focus */
  border-bottom-width: 2px;
}

.custom-width-325 {
  width: 325px;
}

.custom-height-325 {
  height: 325px;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
