@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1c1c;
}

.loader {
  border-top-color: #03a9f4;
  border-bottom-color: #884da0;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
